header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-wrapper {
  justify-content: center;
  background-color: #ff4b2b;
  max-width: 768px;
  margin: auto;
}
.header-wrapper h1 {
  font-size: 35px;
  color: white;
  font-family: "Insanibu";
  margin-left: 10px;
}
.header-wrapper img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
@media (max-width: 480px) {
  .header-wrapper h1 {
    font-size: 30px;
  }
  .header-wrapper img {
    height: 40px;
    width: 40px;
  }
}
