* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.App {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
}
body {
  min-height: 100vh;
  width: 100%;
}
